header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
    width: 100%;
    min-height: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.784);
}

#header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

#logo {
    font-size: xx-large;
    margin: 0px;
    margin-left: 20px;
    align-self: flex-start;
}

#navigation {
    margin-right: 10px;
    height: 25%;
}

#navigation ul {
    padding-left: 0px;
}

#navigation ul li {
    display: inline-flex;
    list-style: none;
    margin: 0px 5px;
}

#header_bottom {
    width: 100%;
    height: 60%;
}

#search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    align-self: center;
    width: 35%;
    min-width: 180px;
    height: 50%;
    background: white;
    padding: 0px 2px;
    border-radius: 5px;
}

#search .input,
#search .button {
    position: relative;
    border: unset;
    height: 80%;
    outline: none;
}

#search .input {
    width: 64%;
}

#search .button {
    font-weight: bolder;
    width: 34%;
    height: 95%;
    border-radius: 5px;
}

#logo:hover,
#navigation li:hover {
    opacity: 0.3;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}