header {
    display: flex;
    flex-direction: column;
    /*border-bottom: 4px solid rgb(50, 50, 50);*/
    box-shadow: 0px 0px 7px 2px rgb(0, 0, 0);
    width: 100%;
    min-height: 150px;
    height: 120px;
    background: rgba(0, 0, 0, 0.7);
}

#header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

#logo {
    font-size: xx-large;
    margin: 0px;
    margin-left: 20px;
    align-self: flex-start;
}

#navigation {
    margin-right: 10px;
    height: 25%;
}

#navigation ul {
    padding-left: 0px;
}

#navigation ul li {
    display: inline-flex;
    list-style: none;
    margin: 0px 5px;
}

#header_bottom {
    width: 100%;
    height: 60%;
}

#search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    align-self: center;
    width: 35%;
    min-width: 180px;
    height: 45%;
    background: rgb(215, 215, 215);
    padding: 0px 2px;
    border-radius: 5px;
}

#search .input,
#search .button {
    position: relative;
    border: unset;
    height: 80%;
    outline: none;
    background: rgb(215, 215, 215);
}

#search .input {
    width: 64%;
}

#search .button {
    font-weight: bolder;
    width: 34%;
    height: 95%;
    border-radius: 5px;
}

#logo:hover,
#navigation li:hover {
    color: rgb(237, 237, 237);
    cursor: pointer;
}

#search .button:hover {
    color: rgb(182, 182, 182);
    background: black;
    cursor: pointer;
}