/*main,
main section {
    border: 1px solid white;
}*/

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 100svh;
    background: rgb(24, 24, 24);
    color: rgb(138, 138, 138);
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header,
footer {
    background: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
}

header {
    width: 100%;
    height: fit-content;
    min-height: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px 10px 0px;
    border-bottom: 4px solid rgb(50, 50, 50);
}

header h1:first-child {
    margin: 0;
    font-size: 5rem;
    color: rgb(215, 215, 215);
    /*box-shadow: 0px 0px 1px 0px rgb(113, 113, 113);*/
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

header p {
    max-width: 60%;
    padding: 5px 30px 5px 30px;
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: rgb(19, 19, 19);
    padding: 15px 20px 15px 20px;
    margin: 10px;
    width: fit-content;
    border-radius: 30px;
    font-size: 2rem;
}

header .button {
    background: rgb(26, 26, 26);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgb(53, 53, 53);
    color: rgb(184, 184, 184);
}

main {
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    padding: 0px 50px 0px 50px;
    
    
}

main section {
    height: fit-content;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 400px;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    border-radius: 50px;
    overflow: hidden;
}

main section:first-child {
    margin-top: 30px;
}

main section:last-child {
    margin-bottom: 30px;
}

main section .image {
    box-sizing: border-box;
    width: 65%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

section#one .image {
    background-image: url("../images/sports_bgs/formula_1.jpg");
}

section#two .image {
    background-image: url("../images/sports_bgs/football.jpg");
}

section#three .image {
    background-image: url("../images/sports_bgs/basketball.jpg");
    background-position: top;
}

section#four .image {
    background-image: url("../images/sports_bgs/marathon.jpg");
}

main section .text {
    box-sizing: border-box;
    text-align: center;
    width: 35%;
    padding: 40px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section .text h2 {
    margin: 0;
}

/*section#one .text,
section#three .text {
    background: rgb(140, 140, 140);
    color: black;
}*/

footer {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    position: sticky;
    top: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 50px 0px;
    background: unset;
}

footer .button {
    font-size: 2.5rem;
}

footer p,
footer h1 {
    margin: 0;
}

footer p {
    max-width: 40%;
    padding: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin: 0px 10px 0px 10px;
}

footer ul li:hover {
    color: rgb(171, 171, 171);
    cursor: pointer;
}