<!DOCTYPE html>
<html lang="en">
    <head>
        <title>st&#9733;ts</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/scripts/landing.js"></script>
        <script type="text/javascript" src="../static/scripts/common.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/landing.css">
        <link rel="shortcut icon" type="img/png" href="../static/images/star_icon.png">
    </head>
    <body>
        <header>
            <h1>WELCOME TO STATS</h1>
            <p>
                Unlock the power of STATS and elevate your sports
                experience. Jump in now to gain access to our extensive database
                of sports data and take your sports knowledge to the next level.
            </p>
            <h1 class="button">JUMP IN</h1>
        </header>
        <main>
            <section id="one">
                <div class="text">
                    <h2>Discover Performance Insights</h2>
                    <p>
                        Explore the world of sports like never before. STATS offers 
                        a comprehensive collection of athlete statistics across 
                        multiple sports disciplines. Gain deep insights into player 
                        performance, historical data, records and more. Whether 
                        you're a fan, sports analyst or team manager, our platform 
                        is your go-to resource for in-depth athlete information.
                    </p>
                </div>
                <div class="image"></div>
            </section>
            <section id="two">
                <div class="image"></div>
                <div class="text">
                    <h2>Unleash Your Sports Knowledge</h2>
                    <p>
                        Are you a true sports aficionado? With STATS, you can test your 
                        sports knowledge and expand your understanding of various sports. 
                        Delve into the data, compare players, analyze trends and make 
                        informed predictions. Our intuitive interface and user-friendly 
                        tools empower you to navigate through a wealth of information 
                        effortlessly.
                    </p>
                </div>
            </section>
            <section id="three">
                <div class="text">
                    <h2>Stay Up-to-Date</h2>
                    <p>
                        Never miss a beat in the sports world. STATS keeps you informed 
                        with real-time updates. Stay connected and stay
                        ahead with STATS.
                    </p>
                </div>
                <div class="image"></div>
            </section>
            <section id="four">
                <div class="image"></div>
                <div class="text">
                    <h2>Tailored for Sports Professionals</h2>
                    <p>
                        STATS isn't just for fans. It's also a valuable tool for sports
                        professionals. Coaches, scouts and team managers can access our
                        platform to scout talent, track player progress and analyze
                        performance metrics. Make data-driven decisions and gain a
                        competitive edge with STATS.
                    </p>
                </div>
            </section>
        </main>
        <footer>
            <h1 class="button">JUMP IN</h1>
            <ul>
                <li class="contact">Contact</li>
                <li class="github">Github</li>
            </ul>
        </footer>
    </body>
</html>