<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
    <title>ST&#9733;TS</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/stats.js"></script>
	  <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/body.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="shortcut icon" type="img/png" href="../static/images/star_icon.png">
  </head>
  <body>
    <header>
      <h1 id="logo">ST&#9733;TS</h1>
      <div id="search">
        <input type="text">
        <button type="button">SEARCH</button>
      </div>
      <nav id="navigation">
        <ul>
          <li>HOME</li>
          <li>COMPARE</li>
          <li>ABOUT</li>
        </ul>
      </nav>
    </header>
    <div id="container">
      <section id="sport">
        <div id="shadow"></div>
        <div id="arrow_left"></div>
        <h1>FORMULA ONE</h1>
        <div id="arrow_right"></div>
      </section>
      <section id="content">
        <h1 id="headlines">
          <section id="teams">TEAMS</section>
          <section id="athletes" class="current">ATHLETES</section>
        </h1>
        <div id="article">
          
        </div>
      </section>
	  </div>
    <footer>
      <p>ST&#9733;TS - 2023</p>
    </footer>
  </body>
</html>