<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
    <title>st&#9733;ts</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/stats.js"></script>
	  <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/body.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="shortcut icon" type="img/png" href="../static/images/star_icon.png">
  </head>
  <body>
    <header>
      <div id="header_top">
        <h1 id="logo" class="home_link">st&#9733;ts</h1>
        <nav id="navigation">
          <ul>
            <li class="home_link">HOME</li>
            <li>H-2-H</li>
            <li>ABOUT</li>
          </ul>
        </nav>
      </div>
      <div id="header_bottom">
        <form id="search">
          <input type="text" name="query" placeholder="What are you looking for?" class="input">
          <input type="submit" value="SEARCH" class="button">
        </form>
      </div>
    </header>
    <div id="container">
      <section id="sport">
        <div id="shadow"></div>
        <div id="arrow_left"></div>
        <h1></h1>
        <div id="arrow_right"></div>
      </section>
      <section id="content">
        <h1 id="headlines">
          <section id="athletes">ATHLETES</section>
          <section id="teams">TEAMS</section>
        </h1>
        <div id="article">
          
        </div>
      </section>
	  </div>
    <footer>
      <nav id="navigation">
        <ul>
          <li class="home_link">HOME</li>
          <li>HEAD-2-HEAD</li>
          <li>ABOUT</li>
        </ul>
      </nav>
      <p>Copyright &copy; 2023</p>
    </footer>
  </body>
</html>